<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ session['username'] }} - 万事屋</title>
    <script>
      document.write("<div id='loading' style='z-index:1035;padding:5px 0 5px 9px;background:#c44;left:0;top:0;width:90px;color:#fff;position:fixed;'>正在加载...</div>")
      setTimeout("document.getElementById('loading').innerHTML = '加载失败，网络错误！';", 3000)      
    </script>
    <style type="text/css">
      .navbar-header {
        padding-left: 100px;
        min-width: 300px;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">万事屋</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_list">
            <span class="sr-only">菜单项</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="menu_list">
          <ul class="nav navbar-nav">
            <li class="menu_list_items active">
              <a href="#">主页</a>
            </li>
            <li class="menu_list_items" data-toggle="modal" data-target="#postOrder">
              <a href="#">投条</a>
            </li>
            <li class="menu_list_items">
              <a href="#">接单</a>
            </li class="menu_list_items">
            <li class="menu_list_items">
              <a href="#">活动</a>
            </li>
            <li class="menu_list_items">
              <a href="#">设定</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">账号：{{ session['username'] }}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">个人通知 <span class="badge">6</span></a></li>
                <li data-toggle="modal" data-target="#draft"><a href="#">草稿本</a></li>
                <li><a href="#">垃圾筒</a></li>
                <li class="divider"></li>
                <li><a href="#">好人卡</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}">退出</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="postOrder" tabindex="-1" role="dialog" aria-labelledby="postOrderModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
            <h4 class="modal-title" id="postOrderModal">投条 - 你想做啥？</h4>
          </div>
          <div class="modal-body">
            <textarea autofocus class="form-control" rows="3" placeholder="请随意输入任何你想要的一切！" style="resize: None"></textarea>
          <div class="checkbox">
            <label>
              <input type="checkbox">匿名提交
            </label>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">保存</button>
            <button type="button" class="btn btn-primary">提交</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="draft" tabindex="-1" role="dialog" aria-labelledby="draftModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
            <h4 class="modal-title" id="draftModal">草稿本 - 记录单子</h4>
          </div>
          <div class="modal-body">
            <textarea class="form-control" style="resize: None" rows="3" placeholder="这里是空的。"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">保存</button>
          </div>
        </div>
      </div>
    </div>

    <footer>
      
    </footer>
  </body>
  <!--
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script>
    $(document).ready(
      function(){
        document.getElementById('loading').innerHTML = "加载完成！";
        setTimeout("$('#loading').slideToggle();", 1000);
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
        $("li.menu_list_items").click(function() {
          $("li.menu_list_items").removeClass("active");
          $(this).addClass("active");
        });
    });
  </script>
</html>