<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ session['username'] }} - 万事屋</title>
    <script>
      document.write("<div id='loading' style='z-index:1;padding:5px 0 5px 9px;background:#c44;left:0;top:0;width:90px;color:#fff;position:fixed;'>正在加载...</div>")
      setTimeout("document.getElementById('loading').innerHTML = '加载失败，网络错误！';", 3000)      
    </script>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
      </div>
    </nav>

    <div class="jumbotron" background="black">
      <div class="container-fluid">
        <div class="row">
        </div>
      </div>
    </div>
    <footer>
      
    </footer>
  </body>
  <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(
      function(){
        document.getElementById('loading').innerHTML = "加载完成！";
        setTimeout("$('#loading').slideToggle();", 1000);
    });
  </script>
</html>