<html>
<head>
</head>
<body>
  <div class="page-header">
    <h1><b>接单</b> <small>>>> Do one thing good daily.</small></h1>
  </div>
  <div class="row">
    <div class="input-group col-xs-10 col-sm-8 col-md-6 col-lg-4 pull-right">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">搜索</button>
        <button onclick="$('#PAGE').load('{{ url_for('getOrder') }}');" class="btn btn-warning" type="button"><span class="glyphicon glyphicon-refresh"></span> 刷新</button>
      </span>
    </div>
  </div>
  <table class="table table-bordered table-hover">
    <caption><h3><b>订单列表</b></h3></caption>
    <thead>
      <th>编号</th>
      <th>内容说明</th>
      <th>投条人</th>
      <th>时间</th>
      <th>地点</th>
      <th>操作</th>
    </thead>
    <tbody>
      {% for order in orders %}
        {% if order.state == 0 %}
          <tr class="success">
        {% elif order.state == 1 %}
          <tr class="warning">
        {% else %}
          <tr class="active">
        {% endif %}
        <form method="POST" action="{{ url_for('dealOrder') }}">
          <th name="id">{{ order.id }}</th>
          <th>{{ order.content }}</th>
          {% if order.is_anonymity == 0 %}
            <th>{{ order.username }}</th>
          {% else %}
            <th>匿名</th>
          {% endif %}
          <th>{{ order.time }}</th>
          <th>{{ order.position }}</th>
          <th><button type="submit" name="actionName" value="deal" class='label label-success'><span class='glyphicon glyphicon-usd'></span> 交易</button>&nbsp;&nbsp;&nbsp;<button type="submit" name="actionName" value="letter" class='label label-info'><span class='glyphicon glyphicon-envelope'></span> 私信</button></th>
        </form>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>