<html>
<head>
</head>
<body>
  <table class="table table-bordered table-hover">
    <caption><h3><b>订单列表</b></h3></caption>
    <thead>
      <th>编号</th>
      <th>内容说明</th>
      <th>投条人</th>
      <th>时间</th>
      <th>地点</th>
      <th>操作</th>
    </thead>
    <tbody>
      {% for order in orders %}
        {% if order.state == 0 %}
          <tr class="success">
        {% elif order.state == 1 %}
          <tr class="warning">
        {% else %}
          <tr class="active">
        {% endif %}
          </tr>
        <th>{{ order.id }}</th>
        <th>{{ order.content }}</th>
        <th>{{ order.username }}</th>
        <th>{{ order.time }}</th>
        <th>{{ order.position }}</th>
        <th><span class='label label-success'><span class='glyphicon glyphicon-usd'></span> 交易</span>&nbsp;&nbsp;&nbsp;<span class='label label-info'><span class='glyphicon glyphicon-envelope'></span> 私信</span>&nbsp;&nbsp;&nbsp;<span class='label label-danger'><span class='glyphicon glyphicon-trash'></span> 删除</span></th>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>