{% extends "dashboard.html" %}
{% block body %}
  <div class="page-header">
    <h1><b>接单</b> <small>>>> Do one thing good daily.</small></h1>
  </div>
  <div class="row">
    <div class="col-xs-10 col-sm-2 col-md-4 col-lg-4 pull-left">
      {% if error %}
        <div class="alert alert-danger" role="alert">
          <p><strong>Error: </strong>{{ error }}</p>
        </div>
      {% endif %}
      {% if success %}
        <div class="alert alert-success" role="alert">
          <p><strong>Success: </strong>{{ success }}</p>
        </div>
      {% endif %}
    </div>
    <div class="input-group col-xs-10 col-sm-8 col-md-6 col-lg-4 pull-right">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">搜索 <span class="glyphicon glyphicon-search"></span></button>
        <button onclick="$('#PAGE').load('{{ url_for('getOrder') }}');" class="btn btn-warning" type="button">刷新 <span class="glyphicon glyphicon-refresh"></span></button>
      </span>
    </div>
  </div>

  <br />

  {% for order in orders %}
    {% if order.state == 0 %}
      <div class="panel panel-success">
    {% elif order.state == 1 %}
      <div class="panel panel-warning">
    {% else %}
      <div class="panel panel-active">
    {% endif %}
    <div class="panel-heading">
      投条人：{% if order.is_anonymity == 0 %}{{ order.username }}
      {% else %}匿名
      {% endif %}
      &nbsp;&nbsp;&nbsp;时间：{{ order.time }}
      &nbsp;&nbsp;&nbsp;地点：{{ order.position }}
    </div>
      <div class="panel-body">
        {% if order.content[10] %}
        <span style="cursor:pointer;" onclick="$('.{{order.id}}all_content').slideToggle();">
          <!-- <h4 class="tttshow {{order.id}}all_content" data-toggle="tooltip" data-placement="right" title="收起">{{ order.content[:6] }}……<span class="label label-primary">显示全部</span></h4> -->
          <h4 class="{{order.id}}all_content">{{ order.content[:6] }}…… <span class="label label-primary">显示全部</span></h4>
        </span>
        <p class="{{order.id}}all_content" style="display: none">{{ order.content }}</p>
        {% else %}
        <h4>{{ order.content }}</h4>
        {% endif %}
      </div>
      <div class="panel-footer">
        状态：
        {% if order.state == 0 %}
          未接单
        {% elif order.state == 1 %}
          执行中
        {% else %}
          已接单
        {% endif %}
        <div class="pull-right">
          操作：
          <a href="deal/{{ order.id }}" class='label label-success'><span class='glyphicon glyphicon-usd'></span> 交易</a>&nbsp;&nbsp;&nbsp;
          <a href="deal/{{ order.id }}" class='label label-info'><span class='glyphicon glyphicon-envelope'></span> 私信</a>
        </div>
      </div>
    </div>
  {% endfor %}

  <script type="text/javascript">
    $('li#menu_list_go').addClass("active");
  </script>
{% endblock %}
